
.idea/airticket.iml
.idea/airticket.iml
.idea/misc.xml
app/__pycache__/__init__.cpython-37.pyc
app/__pycache__/config.cpython-37.pyc
app/admin/__pycache__/__init__.cpython-37.pyc
app/admin/__pycache__/auth.cpython-37.pyc
app/admin/__pycache__/main.cpython-37.pyc
app/admin/__pycache__/ticket_manage.cpython-37.pyc
app/data/__pycache__/admin.cpython-37.pyc
app/data/__pycache__/order.cpython-37.pyc
app/data/__pycache__/ticket.cpython-37.pyc
app/forms/__pycache__/admin.cpython-37.pyc
app/forms/__pycache__/auth.cpython-37.pyc
app/forms/__pycache__/base.cpython-37.pyc
app/forms/__pycache__/search_order.cpython-37.pyc
app/web/__pycache__/__init__.cpython-37.pyc
app/web/__pycache__/auth.cpython-37.pyc
app/web/__pycache__/main.cpython-37.pyc
app/web/__pycache__/search_order.cpython-37.pyc
